#kaocha/v1
 {:capture-output? true
  :kaocha.plugin.randomize/randomize? true
  :kaocha/color? true
  :kaocha/fail-fast? false
  :kaocha/reporter [kaocha.report/documentation]

  :plugins [:kaocha.plugin.alpha/info
            :kaocha.plugin/capture-output
            :kaocha.plugin/cloverage
            :kaocha.plugin/filter
            :kaocha.plugin/hooks
            :kaocha.plugin/print-invocations
            :kaocha.plugin/randomize]

  :tests [{:id :unit
           :focus-meta [:unit]
           :source-paths ["src/main/clojure"]
           :test-paths ["src/test/clojure"]}
          {:id :integration
           :focus-meta [:integration]
           :source-paths ["src/main/clojure"]
           :test-paths ["src/test/clojure"]}]

  :cloverage/opts {:output "coverage"
                   :ns-regex []
                   :ns-exclude-regex []
                   :fail-threshold 0
                   :low-watermark 50
                   :high-watermark 80
                   :summary? true
                   :html? true
                   :codecov? true}}
