{:output       {:exclude-files
                ["src/main/clojure/data_readers.clj"
                 ".cljstyle"]}

 :config-paths ["babashka/fs"
                "rewrite-clj/rewrite-clj"]

 :lint-as      {}

 :linters      {:consistent-alias
                {:aliases {cljs.test          t
                           clojure.core.async async
                           clojure.java.shell shell
                           clojure.pprint     pprint
                           clojure.set        set
                           clojure.string     str
                           clojure.test       t}}

                :unresolved-namespace
                {:exclude [user develop criterium.core]}

                :unresolved-symbol
                {:exclude [(cljs.test/are [thrown? thrown-with-msg?])
                           (cljs.test/is [thrown? thrown-with-msg?])
                           (clojure.test/are [thrown? thrown-with-msg?])
                           (clojure.test/is [thrown? thrown-with-msg?])]}

                :unsorted-required-namespaces
                {:level :warning}}

 :hooks        {}}
